// Additional custom css rules

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: 'childs_playnormal';
  src: url('../fonts/child-webfont.eot');
  src: url('../fonts/child-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/child-webfont.woff') format('woff'),
  url('../fonts/child-webfont.ttf') format('truetype'),
  url('../fonts/child-webfont.svg#childs_playnormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  display: block;
}

.font {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4375em;
  padding: 25px;
}

.header {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10%;
}

body {
  //background: #2E3030;
  background: url(../images/type_@2X.png);
}

.name {
  font-family: 'childs_playnormal';
  font-size: 71px;
  //letter-spacing: -1px;
  background: url(../images/name_bg.jpg) no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

.name-width {
  width: 818px;
}

.ease {
  transition-timing-function: ease;
  -moz-transition-timing-function: ease; /* Firefox 4 */
  -webkit-transition-timing-function: ease; /* Safari and Chrome */
  -o-transition-timing-function: ease; /* Opera */
}

.text {
  color: #ebeaea;
}

a {
  color: #6f6f6f;
  -webkit-transition: color 0.18s ease-out;
  &:hover{
    -webkit-transition: color 0.18s ease-out;
    color: #ebeaea;
  }
}

.links {
  margin-top: 16px;
}

.links ul > li {
  list-style: none;
}

.links .spacing {
  margin-left: 46px;
}

.block-margin {
  margin-top: 5%;
}

#about {
  //background-color: #f1c40f;
  //background-color: #2ecc71;
  //background-color: #479a84;
  //background-color: #e74c3b;
  //background: #2E3030;
  //background: #f3f3f3;
  background: #f6f8f8;
  //border-top: 1px dashed #6f6f6f;
  //margin-top: 1px;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.3);
  hr {
    height: 5px;
    background: #F39C12;
    border: none;
    border-width: none;
    margin: 0;
  }
}


#contact {
  //background-color: #b84230;
  background: #2E3030;
  //border-top: 1px dashed #6f6f6f;
  //margin-top: 1px;
}

#bio {
  @extend .font;
  //color: #fff;
  background-color: #E67E22;
  height: 40%;
  border-radius: 5px;
  //box-shadow: 3px 3px 5px 6px #222;
}

#links {
  @extend .font;
  background-color: #2ECC71;
  height: 80%;
  border-radius: 5px;
}

#feed {
  @extend .font;
  background-color: #E74C3C;
  height: 80%;
  border-radius: 5px;
}
