@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'adobe_garamond_pro-webfont';
  src: url("../fonts/adobe_garamond_pro-webfont.eot");
  src: url("../fonts/adobe_garamond_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/adobe_garamond_pro-webfont.woff") format("woff"), url("../fonts/adobe_garamond_pro-webfont.ttf") format("truetype"), url("../fonts/adobe_garamond_pro-webfont.svg#adobe_garamond_pro-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 38, ../sass/custom-settings.scss */
html {
  display: block;
}

/* line 42, ../sass/custom-settings.scss */
a {
  color: #000;
  -webkit-transition: color 0.18s ease-out;
}
/* line 45, ../sass/custom-settings.scss */
a:hover {
  -webkit-transition: color 0.18s ease-out;
  color: #74869c;
}

/* line 51, ../sass/custom-settings.scss */
#links {
  margin-top: 15px;
}

/* line 55, ../sass/custom-settings.scss */
#feed {
  padding: 5px;
}

/* line 60, ../sass/custom-settings.scss */
#foo,
#about {
  margin-top: 50px;
}

/* line 64, ../sass/custom-settings.scss */
.content {
  margin: 30px;
}

/* line 68, ../sass/custom-settings.scss */
.font {
  font-family: "Open Sans", sans-serif;
  font-size: 1.250em;
}

/* line 73, ../sass/custom-settings.scss */
.header {
  font-family: "Open Sans", sans-serif;
  margin-top: 10%;
}

/* line 78, ../sass/custom-settings.scss */
.name {
  font-family: 'adobe_garamond_pro-webfont';
  font-size: 46px;
}

/* line 85, ../sass/custom-settings.scss */
.link {
  color: #fff;
  margin-top: 1px;
}

/* line 91, ../sass/custom-settings.scss */
.backslash {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 96, ../sass/custom-settings.scss */
.ease {
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  /* Firefox 4 */
  -webkit-transition-timing-function: ease;
  /* Safari and Chrome */
  -o-transition-timing-function: ease;
  /* Opera */
}
