@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'childs_playnormal';
  src: url("../fonts/child-webfont.eot");
  src: url("../fonts/child-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/child-webfont.woff") format("woff"), url("../fonts/child-webfont.ttf") format("truetype"), url("../fonts/child-webfont.svg#childs_playnormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../sass/custom-settings.scss */
html {
  display: block;
}

/* line 20, ../sass/custom-settings.scss */
.font, #bio, #links, #feed {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4375em;
  padding: 25px;
}

/* line 26, ../sass/custom-settings.scss */
.header {
  font-family: "Open Sans", sans-serif;
  margin-top: 10%;
}

/* line 31, ../sass/custom-settings.scss */
body {
  background: url(../images/navy_blue_@2X.png);
}

/* line 36, ../sass/custom-settings.scss */
.name {
  font-family: 'childs_playnormal';
  font-size: 71px;
  background: url(../images/name_bg.jpg) no-repeat center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 47, ../sass/custom-settings.scss */
.name-width {
  width: 818px;
}

/* line 51, ../sass/custom-settings.scss */
.ease {
  transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  /* Firefox 4 */
  -webkit-transition-timing-function: ease;
  /* Safari and Chrome */
  -o-transition-timing-function: ease;
  /* Opera */
}

/* line 58, ../sass/custom-settings.scss */
.text {
  color: #ebeaea;
}

/* line 62, ../sass/custom-settings.scss */
a {
  color: #6f6f6f;
  -webkit-transition: color 0.18s ease-out;
}
/* line 65, ../sass/custom-settings.scss */
a:hover {
  -webkit-transition: color 0.18s ease-out;
  color: #ebeaea;
}

/* line 71, ../sass/custom-settings.scss */
.links {
  margin-top: 16px;
}

/* line 75, ../sass/custom-settings.scss */
.links ul > li {
  list-style: none;
}

/* line 79, ../sass/custom-settings.scss */
.links .spacing {
  margin-left: 46px;
}

/* line 83, ../sass/custom-settings.scss */
.block-margin {
  margin-top: 5%;
}

/* line 87, ../sass/custom-settings.scss */
#about {
  background: #f6f8f8;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.3);
}
/* line 98, ../sass/custom-settings.scss */
#about hr {
  height: 5px;
  background: #F39C12;
  border: none;
  border-width: none;
  margin: none;
}

/* line 108, ../sass/custom-settings.scss */
#contact {
  background: #2E3030;
}

/* line 115, ../sass/custom-settings.scss */
#bio {
  background-color: #E67E22;
  height: 40%;
  border-radius: 5px;
}

/* line 124, ../sass/custom-settings.scss */
#links {
  background-color: #2ECC71;
  height: 80%;
  border-radius: 5px;
}

/* line 131, ../sass/custom-settings.scss */
#feed {
  background-color: #E74C3C;
  height: 80%;
  border-radius: 5px;
}
